{{> header url="companies" placeholder="companies" title="Company"}}

<main>
	<section>
		<div class="top">
			264 Companies(s)
		</div>
		<div class="content">
			<ul class="list">
				{{#each companies}}
					<li>
						<a href="/companies/{{this.id}}" class="item">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<span class="column">{{this.name}} {{this.email}}</span>
						</a>
					</li>
				{{/each}}
			</ul>
			<div class="more">
				<a href="#load-more">Load more (255)</a>
			</div>
		</div>
	</section>
	<section id="create-company">
		<div class="top">
			Insert a new Company
		</div>
		<div class="content">
			<form action="/companies" method="post" name="create_company">
				<div class="field">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" placeholder="Name of the Company">
				</div>
				<div class="field">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" placeholder="Email">
				</div>
				<div class="more">
				<button type="submit" class="blue">Create</button>
				</div>
			</form>
		</div>
	</section>
</main>
