{{> header url="students" placeholder="student" title="Students"}}
<main>
	<section>
		<div class="top">
			264 Student(s)
		</div>
		<div class="content">
			<ul class="list">
				<!-- Kanske måste ladda om varje student? -->
				{{#each students}}
					<li>
						<a href="/students/{{this.id}}" class="item">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<span class="column">{{this.firstName}} {{this.lastName}}</span>
							<span class="column">Apple inc.</span>
						</a>
					</li>
				{{/each}}
			</ul>
			<div class="more">
				<a href="#load-more">Load more (255)</a>
			</div>
		</div>
	</section>
	<section id="create-student">
		<div class="top">
			Insert a new Student
		</div>
		<div class="content">
			<form action="/students" method="post">
				<div class="field">
					<label for="first-name">First name</label>
					<input type="text" name="firstName" id="first-name" placeholder="First name">
				</div>
				<div class="field">
					<label for="last-name">Last name</label>
					<input type="text" name="lastName" id="last-name" placeholder="Last name">
				</div>
				<div class="field">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" placeholder="Email">
				</div>
				<div class="field">
					<label for="phone">Phone</label>
					<input type="tel" name="phone" id="phone" placeholder="phone">
				</div>
				<div class="more">
					<button type="submit" class="blue">Create</button>
				</div>
			</form>
		</div>
	</section>
</main>
