{{> header url="courses" placeholder="course" title="Courses"}}
<main>
	<section>
		<div class="top">
			4 Courses(s)
		</div>
		<div class="content">
			<ul class="list">
				<!-- Kanske måste ladda om varje student? -->
				{{#each courses}}
					<li>
						<a href="/courses/{{this.id}}" class="item">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<span class="column">{{this.name}} </span>
						</a>
					</li>
				{{/each}}
			</ul>
			<div class="more">
				<a href="#load-more">Load more (255)</a>
			</div>
		</div>
	</section>
	<section id="create-student">
		<div class="top">
			Insert a new Course
		</div>
		<div class="content">
			<form action="/courses" method="post">
				<div class="field">
					<label for="name">Course name</label>
					<input type="text" name="name" id="name" placeholder="Name">
				</div>
				<div class="field">
					<label for="startDate">Start Date</label>
					<input type="text" name="startDate" id="startDate" placeholder="Start date">
				</div>
				<div class="field">
					<label for="endDate">End Date</label>
					<input type="text" name="endDate" id="endDate" placeholder="End date">
				</div>
				<div class="more">
					<button type="submit" class="blue">Create</button>
				</div>
			</form>
		</div>
	</section>
</main>
