{{> header url="students" placeholder="student" title="Students"}}

<main>
	<section>
		<div class="top">Description</div>
		<div class="content">
			<ul class="list">
				<li class="item">
					<div class="small column"><b>First name</b></div>
					<div class="large column">{{firstName}}</div>
				</li>
				<li class="item">
					<div class="small column"><b>Last name</b></div>
					<div class="large column">{{lastName}}</div>
				</li>
				<li class="item">
					<div class="small column"><b>Email</b></div>
					<div class="large column"><a href="mailto:{{email}}">{{email}}</a></div>
				</li>
			</ul>
			<div class="more">
				<a href="#edit">Edit</a>
				<a href="#delete" class="right pink">Delete</a>
			</div>
		</div>
	</section>
</main>
