<header>
	<div class="search">
		<form action="/tutors/search" method="post" name="search">
			<i class="fa fa-search" aria-hidden="true"></i>
			<input type="text" name="data" placeholder="Search for a tutors...">
		</form>
	</div>
	<h2 class="title">Tutors</h2>
</header>
<main>
	<section>
		<div class="top">
			264 Tutors(s)
		</div>
		<div class="content">
			<ul class="list">
				{{#each tutors}}
					<li>
						<a href="/tutors/{{this.id}}" class="item">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<span class="column">{{this.firstName}} {{this.lastName}}</span>
							<span class="column">Apple inc.</span>
						</a>
					</li>
				{{/each}}
			</ul>
			<div class="more">
				<a href="#load-more">Load more (255)</a>
			</div>
		</div>
	</section>
	<section id="create-tutor">
		<div class="top">
			Insert a new Tutor
		</div>
		<div class="content">
			<form action="/tutors" method="post" name="create_tutor">
				<div class="field">
					<label for="first-name">First name</label>
					<input type="text" name="firstName" id="first-name" placeholder="First name">
				</div>
				<div class="field">
					<label for="last-name">Last name</label>
					<input type="text" name="lastName" id="last-name" placeholder="Last name">
				</div>
				<div class="field">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" placeholder="Email">
				</div>
				<div class="more">
					<button type="submit" class="blue">Create</button>
				</div>
			</form>
		</div>
	</section>
</main>
