$base-grey: #4a5a6e;
$base-green: #4dbac4;
$base-pink: #ad6aad;
$base-blue: #12a4fc;

@import "modules/general";
@import "modules/sidebar";
@import "modules/wrapper";
@import "modules/header";
@import "modules/section";
@import "modules/list";
@import "modules/button";